# Shopline
SHOPLINE_APP_KEY=
SHOPLINE_APP_SECRET=
SHOPLINE_APP_URL=
SHOPLINE_REDIRECT_URI=

# DeepL
DEEPL_API_KEY=

# Lovart
LOVART_API_KEY=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Neon
DATABASE_URL=

# Frontend
FRONTEND_URL=http://localhost:3000
